<nav class="social-icons icons">
<a class="fa fa-rss rss" href="/index.xml"></a>
{{ if isset .Site.Params "twitter_username" }}
<a class="fa fa-twitter twitter" href="https://twitter.com/{{ .Site.Params.twitter_username }}"></a>
{{ end }}
{{ if isset .Site.Params "github_username" }}
<a class="fa fa-github github" href="https://github.com/{{ .Site.Params.github_username }}"></a>
{{ end }}
{{ if isset .Site.Params "bitbucket_username" }}
<a class="fa fa-bitbucket bitbucket" href="https://bitbucket.org/{{ .Site.Params.bitbucket_username }}"></a>
{{ end }}
</nav>
